.toggle{
    margin: auto;
    width:210px;
    height: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
}
.toggletext{
    text-align: center;
    color: black;
}
.togglebar{
    background-color: orangered;
    height: 2px;
}

.toggle:hover{
    cursor: pointer;
}