.card{
    /* position: relative; */
    width: 450px;
    height: 260px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.281);
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(5,1fr);
    border-radius: 4px;
   
    
}
.backGroundImg{
    grid-row:1/-1;
    grid-column: 1/-1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* animation: fadeIn 1s ease-in; */
}
.backGroundImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    
}
.onHover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    grid-row: 1/-2;
    grid-column: 1/-1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h1, .card p{
    margin:0;
}
.card p{
    padding: 20px;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @media  only screen and (min-width: 500px) {
    .card{
        /* position: relative; */
        width: 450px;
        margin: 40px;
        
    }
    .onHover{
        /* position:absolute; */
        grid-row: 1/-2;
        grid-column: 1/-1;
        /* background-color: brown; */
        display: none;
    }
    .card:hover .onHover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.623);
        color: white;
        grid-row: 1/-2;
        grid-column: 1/-1;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: fadeIn 1s ease-in;
    }
    
  }
