header ul{
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    /* justify-content: center; */
    align-items: flex-end;
    background-color: white;
    
}
.desktop{
    display: none;
}
.burgerMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
    margin-top: 10px;
    background-color: white;

}
.active{
    display: none;
}
.slice{
    margin: 5px 0px;
    width: 50px;
    background-color: black;
    height: 5px;
}

header li{
    list-style: none;
    margin: 7px 0px;
    padding:1px 10px;
}

.navItem{
    font-size: 30px;
    font-weight: 520;
    text-decoration: none;
    margin: 10px 10px;
    padding:1px 10px;
    /* z-index: 10; */
}

header li:hover{
    transform: scale(1.2);
}
.navItem:hover{
    
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    
} 

.first:hover{
    background-color: rgba(255, 166, 0, 0.616);
}

.second:hover{
    background-color: #d6135457 ;
}
.third:hover{
    background-color:#f9482988;
}
.fourth:hover{
    background-color: #fce32ad3;
}
.fifth:hover{
    background-color: #30e3e06c;
}

header{
    width:100vw;
    position: absolute;
    z-index: 10;
    top: 0px;
}

a{
    all:unset;
}

/* desktop */
@media only screen and (min-width: 768px){
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
    header ul{
        all:unset;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding: 0;
        justify-content: center;
        
    }
    
    .burgerMenu{
        display: none;
    }
    header li{
        list-style: none;
        margin: 7px 0px;
        padding:1px 10px;
    }
    
    .navItem{
        font-size: medium;
        font-weight: 520;
        text-decoration: none;
        margin: 10px 10px;
        padding:1px 10px;
        /* z-index: 10; */
    }
    
    header li:hover{
        transform: scale(1.2);
    }
    .navItem:hover{
        
        cursor: pointer;
        text-align: center;
        border-radius: 8px;
        
    } 
    
    .first:hover{
        background-color: rgba(255, 166, 0, 0.616);
    }
    
    .second:hover{
        background-color: #d6135457 ;
    }
    .third:hover{
        background-color:#f9482988;
    }
    .fourth:hover{
        background-color: #fce32ad3;
    }
    .fifth:hover{
        background-color: #30e3e06c;
    }
    
    header{
        width:100vw;
        position: absolute;
        z-index: 10;
        top: 0px;
    }
    
    a{
        all:unset;
    }
    
    
}
