header ul{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    justify-content: center;
}

header li{
    list-style: none;
}

.navItem{
    margin: 10px 10px;
    padding:0 10px;
}
.navItem:hover{
    background-color: rgba(255, 166, 0, 0.616);
    cursor: pointer;
    text-decoration: underline;
    border-radius: 8px;
}   