.work{
    height: fit-content;
    margin-bottom: 20px;
}

.workText{
    padding-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    text-align: center;
    margin: auto;
}
