    .backGround{
        height:fit-content;
        padding-bottom: 20px;
        /* display: grid;
        grid-template-columns: repeat(20,1fr);
        grid-template-rows: repeat(20,1fr); */
        /* position: relative; */
        /* padding-bottom: 20px; */
    }


    /* .backGround:hover .two{
        transform: skew(20deg)  rotate(360deg);
        background-color: white;
        transition: 4s ;
    }
    .backGround:hover .three{
        transform: translate(40vw) rotate(360deg);
        transition: 4s;
    }
    .backGround:hover .five{
        transform: translate(70vw) rotate(360deg);
        transition: 4s;
    }
    .backGround:hover .default{
        transform: translate(5vw) rotate(360deg);
        transition: 4s;
    }
    .backGround:not(:hover) .two{
        transform: skew(0deg)  rotate(0deg) ;
        transition: 4s ease;
    }
    .backGround:not(:hover) .three{
        transform: translate(0) rotate(0);
        transition: 4s;
    }
    .backGround:not(:hover) .five{
        transform: translate(0) rotate(0);
        transition: 4s;
    }
    .backGround:not(:hover) .default{
        transform: translate(0) rotate(0);
        transition: 4s;
    }
    .backGround:hover .twoR{
        transform: skew(-20deg)  rotate(-360deg);
        transition: 4s;
    }
    .backGround:hover .threeR{
        transform: translate(-40vw) rotate(-360deg);
        transition: 4s;
    }
    .backGround:hover .fiveR{
        transform: translate(-70vw) rotate(-360deg);
        transition: 4s;
    }
    .backGround:hover .defaultR{
        transform: translate(-5vw) rotate(-360deg);
        transition: 4s;
    }
    .backGround:not(:hover) .twoR{
        transform: skew(0deg)  rotate(0deg) ;
        transition: 4s ease;
    }
    .backGround:not(:hover) .threeR{
        transform: translate(0) rotate(0);
        transition: 4s;
    }
    .backGround:not(:hover) .fiveR{
        transform: translate(0) rotate(0);
        transition: 4s;
    }
    .backGround:not(:hover) .defaultR{
        transform: translate(0) rotate(0);
        transition: 4s;
    } */


  /* windmill */
  